<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction Result</title>
</head>
<body>
    <h1>Prediction Result</h1>
    <p>Name: {{ name }}</p>
    <p>Gender: {{ gender }}</p>
    <p>Physical Activity: {{ physical_activity }}</p>
    <p>Educational Level: {{ educational_level }}</p>
    <p>Smoking History: {{ smoking_history }}</p>
    <p>Pregnancies: {{ pregnancies }}</p>
    <p>Glucose: {{ glucose }}</p>
    <p>Blood Pressure: {{ blood_pressure }}</p>
    <p>Skin Thickness: {{ skin_thickness }}</p>
    <p>Insulin: {{ insulin }}</p>
    <p>BMI (Body Mass Index): {{ bmi }}</p>
    <p>Diabetes Pedigree Function: {{ diabetes_pedigree_function }}</p>
    <p>Age: {{ age }}</p>
</body>
</html>
